/* Floating social media handles */
.social-media-container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .social-media-link {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .social-media-link:hover {
    background-color: #0056b3;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/image8.jpg'); /* Replace 'background-image.jpg' with the URL or path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background color for the container */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  